:root{
    --bg-color:#0F0F12;
    --soft-bg-color:#1C1C21;
    --light-color:#EDEDED;
    --soft-color:#8A8A94;
    --accent-color:#cc1d14;

    /* paleta de cores dos tipos de pokemon */
    --grass-type:#78C850;
    --fire-type:#F08030;
    --water-type:#6890F0;
    --electric-type:#F8D030;
    --base-ui:#2C2C2E;
}